body{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: sans-serif;
}

.Contenedor{
    display: flex ;
    margin:  auto;
    width: 800px;
    
}

.asideLeft {
    width: 250px;
    height: auto;
    text-align: center;
}

.mgarcia-foto{
    height: auto;
    width: auto;
    padding: 8px;
}
img{
    height: 3.7cm;
    width: 3.7cm;
    border-radius: 50%;
}

.mgarcia-datospersonales{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
   
}
a{
    color:#063d73;
}

p{
    margin:0;
    line-height: 1.5em;  
    font-size: 16px; 
}

i{
    color: #479099;
}

.mini-titles{
    color: #479099;
    text-transform: uppercase;
    border-bottom: 3px solid #479099;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    line-height: 1.5em; 
}

#skills{
    width: fit-content; 
    margin: 5px; 
    font-size: 14px;
}
#skills2{
    border: 2px solid #479099;
    background-color: #479099;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    color: white; 
    float: left;
}
#skills3{
    border: 2px solid #479099;
    background-color: #479099;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    margin-bottom: 20px;
    color: white; 
    float: right;
}

#software{
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2px;
    
    
}
.main-section{
    font-size: 18px;
    width: 550px;
    padding: 25px;

}
h1{
    text-align: center;
    margin: 0;
    font-size: 28px;
    color: white;
    background-color: #479099;
    padding-top: 10px;
    padding-bottom: 5px;
    
}

h2{
    border-bottom: 3px solid #479099;
    font-size: 18px;  
    text-transform: uppercase; 
    color: #479099;
    margin-bottom: 8px;
}

h3{
    margin: 0;
    text-align: center;
    background-color: #479099;
    padding-bottom: 10px;
    color:whitesmoke;
}

h4{
    margin:0;
}
h5{
    margin-top: 5px;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 5px;
}

#nombre{
    padding-left: 3cm;
    text-align: center;
    display: flex;
    margin-top: 5px;
    width: 500%;
    height: 8%;
    
}


.education{
    font-size: 16px;
    margin: 0;  
}

#date{
    text-align: right;
    font-size: 10px;
    color: gray;
}


.experience{
    font-size: 16px;   
}


