.mgarcia-body{
    display: flex ;
    margin: 5px;
}

.mgarcia-presentacion {
    width: 200px;
    height:1000%;
    border: 1px solid gray;
    background-color: rgb(93,133,186);
    text-align: center;
}

.mgarcia-foto{
    height: auto;
    width: auto;
    padding: 5px;
}

.mgarcia-datospersonales{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    text-align: center;
    font-size: 14px;
    color: white;
}
.mini-titles{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-color: rgb(4,46,88);
    font-size: 17px;
}
#skills-list{
    text-align: left;
}

.mgarcia-general{
    font-size: 12px;
    width: 1000px;


}
#nombre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    width: 500%;
    height: 8%;
    background-color: gray;
}

